@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --black: #242629;
  --white: #ffffff;
  --blue: #094067;
  --grey: #5f6c7b;
  --primary: #2b79bd;
  --secondary: #90b4ce;
  --tertiary: #ef4565;
  --color-button: #3da9fc;
  --bg-alt: #d8eefe;
  --fontPrimary: "Inter", sans-serif;
  --headline1: bold 72px / 80px var(--fontPrimary);
  --headline2: bold 64px / 76px var(--fontPrimary);
  --headline3: bold 32px / 32px var(--fontPrimary);
  --headline4: bold 24px / 26.4px var(--fontPrimary);
  --headline5: bold 20px / 26.4px var(--fontPrimary);
  --body1: normal 18px / 27px var(--fontPrimary);
  --body1-bold: bold 18px / 27px var(--fontPrimary);
  --body2: normal 14px / 24px var(--fontPrimary);
  --button: 600 18px / 27px var(--fontPrimary);
  --caption: normal 12px / 27px var(--fontPrimary);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--white);
  font: var(--body1);
  color: var(--grey);
  margin: 0;
}

.wrapper {
  max-inline-size: 72.375rem;
}

.wrapper-condensed {
  max-inline-size: 42.25rem;
}

@media screen and (min-width: 768px) {
  .wrapper-condensed {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
  }
}

.wrapper, .wrapper-condensed {
  -webkit-padding-start: 1.375rem;
          padding-inline-start: 1.375rem;
  -webkit-padding-end: 1.375rem;
          padding-inline-end: 1.375rem;
  margin: auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.header-content {
  min-block-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .header-content {
    min-block-size: 5.9375rem;
  }
}

.header__brand {
  line-height: 0;
  cursor: pointer;
}

.header__logo {
  width: 7.3125rem;
  height: 1.14479rem;
}

.header__menu {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  background-image: url(/icons/menu.svg);
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .header__menu {
    display: none;
  }
}

.header__menu.active {
  background-image: url(/icons/cancel.svg);
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.header__nav--active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__nav--active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .header__nav {
    position: initial;
    inset: initial;
    -webkit-transform: initial;
            transform: initial;
    width: auto;
  }
}

.navbar {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}

.navbar__item {
  list-style: none;
}

.navbar__item--active a {
  color: var(--primary);
}

.navbar__link {
  font: var(--body1-bold);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary);
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.navbar__link:hover {
  color: var(--primary);
}

@media screen and (min-width: 992px) {
  .navbar {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    padding: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .navbar__item {
    -webkit-padding-after: 0.25rem;
            padding-block-end: 0.25rem;
    min-inline-size: 5.3125rem;
    text-align: center;
  }
  .navbar__item--active, .navbar__item:hover {
    border-bottom: 4px solid var(--primary);
  }
  .navbar__link {
    font: var(--body2);
    font-weight: bold;
  }
}

.hero {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.hero__img {
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 5rem;
    height: 5rem;
  }
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.hero__title {
  font: var(--headline3);
  color: var(--blue);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font: var(--headline1);
  }
}

.hero__subtitle {
  font: var(--headline5);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    font: var(--headline4);
    font-weight: 500;
    line-height: 38.83px;
  }
}

.hero__description {
  font: var(--body2);
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

@media screen and (min-width: 768px) {
  .hero__description {
    font: var(--body1);
  }
}

.hero__btn a {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__btn a {
    width: auto;
  }
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font: var(--button);
  border-radius: 0.25rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn__primary {
  background-color: var(--color-button);
  color: var(--white);
  border: none;
}

.btn__primary:hover {
  background-color: #0485e9;
}

.btn__secondary {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}

.btn__secondary:hover {
  background-color: #ceeafe;
}

.projects {
  -webkit-padding-before: 8rem;
          padding-block-start: 8rem;
  -webkit-padding-after: 8rem;
          padding-block-end: 8rem;
  background-color: var(--bg-alt);
}

@media screen and (min-width: 768px) {
  .projects {
    -webkit-padding-before: 5rem;
            padding-block-start: 5rem;
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10rem;
}

.project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__img {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  text-align: center;
}

.project__img img {
  max-inline-size: 100%;
}

.project__info, .project__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.project__title {
  font: var(--headline3);
  color: var(--blue);
}

.project:nth-child(odd) .btn__primary {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .project__img {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  .project__info {
    gap: 0.25rem;
  }
  .project__img, .project-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .project__title {
    font: var(--headline2);
  }
  .project__description {
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
    -webkit-margin-after: 1.375rem;
            margin-block-end: 1.375rem;
  }
  .project__btn {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .project__btn .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .project:nth-child(odd) .project__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .project:nth-child(odd) .btn__primary {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

@media screen and (min-width: 992px) {
  .project {
    gap: 6.25rem;
  }
  .project__info {
    max-inline-size: 414px;
  }
}

.jobs {
  background-color: var(--blue);
  color: var(--white);
}

.jobs-content {
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}

.jobs__title {
  font: var(--headline3);
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

@media screen and (min-width: 768px) {
  .jobs__title {
    font: var(--headline2);
  }
}

@media screen and (min-width: 992px) {
  .jobs__title {
    font: var(--headline1);
  }
}

.jobs__description {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  border-bottom: 1px solid var(--bg-alt);
}

@media screen and (min-width: 768px) {
  .jobs__description {
    font: var(--headline4);
    font-weight: normal;
  }
}

.job {
  -webkit-padding-before: 1.625rem;
          padding-block-start: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.job__title {
  font: var(--headline3);
}

.job__position {
  font: var(--body1-bold);
  color: var(--bg-alt);
}

.job__description {
  font: var(--body2);
}

@media screen and (min-width: 768px) {
  .job__description {
    font: var(--body1);
  }
}

.contact {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-padding-before: 5rem;
            padding-block-start: 5rem;
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
}

.contact__title {
  font: var(--headline3);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.contact__title span {
  display: block;
}

@media screen and (min-width: 768px) {
  .contact__title {
    font: var(--headline2);
  }
}

.contact__email {
  font: var(--headline4);
  color: var(--tertiary);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contact__email {
    font: var(--headline3);
  }
}

.footer {
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 768px) {
  .footer-content {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__brand {
  line-height: 0;
  cursor: pointer;
}

.footer__logo {
  width: 7.3125rem;
  height: 1.14479rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .social {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    gap: 2.5rem;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  font: 700 14px/27px var(--fontPrimary);
  color: var(--secondary);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.social__link:hover {
  color: var(--white);
}
/*# sourceMappingURL=index.css.map */