.header {
  @include top-sticky;
  background-color: var(--white);
  &-content {
    min-block-size: toRem(64);
    @include container-space;
    @include desktop {
      min-block-size: toRem(95);
    }
  }
  &__brand {
    line-height: 0;
  }
  &__logo {
    width: toRem(117);
    height: toRem(18.3167);
  }
  &__menu {
    border: none;
    width: toRem(24);
    height: toRem(24);
    background-color: transparent;
    background-image: url(/icons/menu.svg);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    @include desktop {
      display: none;
    }
    &.active {
      background-image: url(/icons/cancel.svg);
    }
  }
  &__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.2s ease;
    &--active {
      transform: scale(1, 1);
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
    }
    @include desktop {
      position: initial;
      inset: initial;
      transform: initial;
      width: auto;
    }
  }
}
