.header {
  @include top-sticky;
  background-color: var(--white);
  &-content {
    min-block-size: toRem(64);
    @include container-space;
  }
  &__brand {
    line-height: 0;
  }
  &__logo {
    width: toRem(117);
    height: toRem(18.3167);
  }
}
