.wrapper {
  max-inline-size: toRem(1158);
  &-condensed {
    max-inline-size: toRem(676);
    @include tablet {
      padding-inline-start: 0 !important;
      padding-inline-end: 0 !important;
    }
  }
  &,
  &-condensed {
    padding-inline-start: toRem(22);
    padding-inline-end: toRem(22);
    margin: auto;
  }
}
